@font-face {
    font-family: "Channel";
    src: url("../FONTS/channel-webfont.ttf")
}

* {
    margin: 0;
    padding: 0;
    font-size: 62,5%;
}

body {
    background-color: crimson;
}

header {
    position: fixed;
    font-size: 2rem;
    width: 100vw;
    height: 8vh;
    background-color: rgb(0, 0, 0);
    border-bottom: 0.2rem solid cornsilk;
    display: flex;
    flex-direction: row;
    font-family: "Channel";
}


#logo-div {
    width: 20vw;
}

#logo-img {
    position: relative;
    top: 3.7rem;
    left: 10vh;
}

nav {
    width: 80vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#menu-ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 2rem;
    
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 1.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 0;
    color: cornsilk;
}

.sub-menu {
    display: none;
}