*
{
    margin : 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 30px; 
}


.grid-container {

    background-color: white;
    height: 100vh;
    border:10px solid black;
    display: grid;
    grid-template-columns: 100 px 1fr 50px;
    grid-template-rows: 50 px 1fr 100px ;
    grid-auto-rows: 200px;
    justify-content: space-around;
    
}

.grid-header{

grid-area: header;

}


